*{
    padding: 0;
    margin: 0;
}
.container{
width: 100%;
background-color: royalblue;
color: white;
display: flex;
flex-direction: row;
flex-wrap: wrap;
 /* justify-content: space-between;  */
}

.box1{
    background-color: black;
    width: 250px;
    height: 250px;
    border-style: solid;
    flex-grow:1; 
    
}
.box2{
    background-color: blueviolet;
    width: 250px;
    height: 250px;
    border-style: solid;
    

}
.box3{
    background-color:maroon;
    width: 250px;
    height: 250px;
    border-style: solid;
    
}
.box4{
    background-color: lightslategrey;
    width: 250px;
    height: 250px;
    border-style: solid;
   
}
.box5{
    background-color: var(--background-color);
    width: 250px;
    height: 250px;
    border-style: solid;
  
}
:root{
    --background-color: rgb(59, 215, 59); 
}